<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="/css/drivy.css" />
    <title>CSS/HTML Workshop with Drivy</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
  </head>
  
  <body> 
  <div id="content">
		<input name="urlParser" class="model form-control" type="text" placeholder="Url du Boncoin"/>
		<button id="compute" class="btn btn-lg btn-danger">Compute</button>
	</div>
	</div>
  </body>
</html>
