<!DOCTYPE html>
<html>
<head>
    <title>Comparateur</title>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <header class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Comparateur</a>
            </div>
			<ul class="nav navbar-nav">
			  <li class="active"><a href="#">Home</a></li>
			  <li><a href="#">About</a></li>
			  <li><a href="#">Contact</a></li>			  
			</ul>
            <div class="collapse navbar-collapse">
            </div>
        </div>
    </header>
 {% block content %}{% endblock %}
</div>
</body>
</html>
